In [3]:
data = "Pakistan Zindabad"

print(data)
print(data)
print(type(data))

Pakistan Zindabad
Pakistan Zindabad
<class 'str'>

In [4]:
abc = "Pakistan Line 1"\
"Pakistan Line 2"\
"Pakistan Line 2"\
"Pakistan Line 2"

print(abc)
print(type(abc))

Pakistan Line 1Pakistan Line 2Pakistan Line 2Pakistan Line 2
<class 'str'>

In [8]:
abc = """
Pakistan Line 1
Pakistan Line 2
Pakistan Line 3
"""
abc
#print(abc)

'\nPakistan Line 1\nPakistan Line 2\nPakistan Line 3\n'

In [9]:
abc = """
Pakistan Line 1
Pakistan Line 2
Pakistan Line 3
"""

print(abc)

Pakistan Line 1
Pakistan Line 2
Pakistan Line 3

# concatination and formating

In [10]:
a = input("Enter No. 1")
b = input("Enter No. 2")

print(type(a), type(b))
print (a + b)

Enter No. 15
Enter No. 25
<class 'str'> <class 'str'>
55

In [11]:
a = input("Enter No. 1")
b = input("Enter No. 2")

a = int(a)
b = int(b)
print(type(a), type(b))
print (a + b)

Enter No. 16
Enter No. 27
<class 'int'> <class 'int'>
13

In [12]:
a = input("Enter No. 1")
b = input("Enter No. 2")

a = float(a)
b = float(b)
print(type(a), type(b))
print (a + b)

Enter No. 14
Enter No. 25
<class 'float'> <class 'float'>
9.0

In [13]:
a = int(input("Enter No. 1"))
b = int(input("Enter No. 2"))

print(type(a), type(b))
print (a + b)

Enter No. 14
Enter No. 21
<class 'int'> <class 'int'>
5

In [18]:
roll_no = 202
name = "Shafaat Ahmed Khan"
fname = "Himayat Ahmed Khan"
contact_no = "03442893351"

card = "NED UNIVERSITY \nStudent Roll No."+str(roll_no)+\
"\nStudent Name: "+name+"\nFather Name: "+fname\
+"\nContact No. : "+contact_no

print(card)

NED UNIVERSITY
Student Roll No.202
Student Name: Shafaat Ahmed Khan
Father Name: Himayat Ahmed Khan
Contact No. : 03442893351

In [22]:
card = """
NED UNIVERSITY
roll_no = \t202
name = \t\tShafaat Ahmed Khan
fname = \tHimayat Ahmed Khan
contact_no = \t03442893351
"""

print(card)

NED UNIVERSITY
roll_no = 	202
name = 		Shafaat Ahmed Khan
fname = 	Himayat Ahmed Khan
contact_no = 	03442893351

In [24]:
card = """
NED UNIVERSITY
Student Roll_no = \t202
Student Name = \t\tShafaat Ahmed Khan
Father's Name = \tHimayat Ahmed Khan
Contact No = \t\t03442893351.format(roll_no)
"""

print(card)

NED UNIVERSITY
Student Roll_no = 	202
Student Name = 		Shafaat Ahmed Khan
Father's Name = 	Himayat Ahmed Khan
Contact No = 		03442893351.format(roll_no)

In [30]:
roll_no = 201
name = "Shafaat Ahmed Khan"
fname = "Himayat Ahmed Khan"
contact_no = "03442893351"

card = """
NED UNIVERSITY
Student Roll_no = \t{}
Student Name = \t\t{}
Father's Name = \t{}
Contact No = \t\t{}.""".format(roll_no,name,fname,contact_no)

print(card)

NED UNIVERSITY
Student Roll_no = 	201
Student Name = 		Shafaat Ahmed Khan
Father's Name = 	Himayat Ahmed Khan
Contact No = 		03442893351.

In [40]:
roll_no = 201
name = "Shafaat Ahmed Khan"
fname = "Himayat Ahmed Khan"
contact_no = "03442893351"

card = """
NED UNIVERSITY
Student Roll_no = {}
Student Name = {}
Father's Name = {}
Contact No = {}.""".format(roll_no,name,fname,contact_no)
#                                 0      1     2       3
print(card)

NED UNIVERSITY
Student Roll_no = 201
Student Name = Shafaat Ahmed Khan
Father's Name = Himayat Ahmed Khan
Contact No = 03442893351.

In [2]:
roll_no = 201
name = "Shafaat Ahmed Khan"
fname = "Himayat Ahmed Khan"
contact_no = "03442893351"

card = f""" NED UNIVERSITY
Student Roll_no = input({roll_no})
Student Name = {name}
Father's Name = {fname}
Contact No = {contact_no}."""
print(card)

 NED UNIVERSITY
Student Roll_no = input(201)
Student Name = Shafaat Ahmed Khan
Father's Name = Himayat Ahmed Khan
Contact No = 03442893351.

In [53]:
item = "Laptop"
price = 150000
quantity = 3

total_cost = price * quantity


string = """I boutht {} {} at {}, each for a total of ${}
""".format(quantity,item,price,total_cost)

print(total_cost)
print(string)

450000
I boutht 3 Laptop at 150000, each for a total of $450000

In [56]:
city = "Karachi"
temperature = 30

string = f""" The temperature in {city} is {temperature}'c'"""

print(string)

 The temperature in Karachi is 30'c'

In [ ]:
%s  string
%d  number

In [4]:
roll_no=2322
name = "Shafaat Ahmed"
"Student Name %s \n Roll No. %d"  % (name,roll_no)

'Student Name Shafaat Ahmed \n Roll No. 2322'

In [14]:
first_name = "Shafaat Ahmed"
last_name = "Khan"
birth_year = 1980

age = 2023 - birth_year
print(age)

string = "My name is  %s %s. I am  %d years old." %(first_name,last_name,age)
print(string)

43
My name is  Shafaat Ahmed Khan. I am  43 years old.

In [24]:
product_name = "DC Inverter Hire"
discount = 10
orignal_price = 125000

discount_price = orignal_price*(1 - discount/100)

string = f"""Hire Home Services
Product Name\t = \t{product_name}
Discount Price\t = \t{discount}
Orignal Price\t = \t{orignal_price}
Discounted Price = \t{discount_price}
"""
print(string)

112500.0
    Hire Home Services
Product Name	 = 	DC Inverter Hire
Discount Price	 = 	10
Orignal Price	 = 	125000
Discounted Price = 	112500.0